*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    /* display: flex; */
}

:root {
    --background-color: black;
}

body {
    padding: 20px;
    background-color: var(--background-color);
    /* border: 3px solid red; */
}

.container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    align-content: flex-start;
    /* border: 3px solid pink; */
}

.extras {
    justify-content: space-between;
    gap: 20px;
    /* border: 3px solid green; */
    height: auto;
    width: auto;
    flex-direction: column;
}

@media (max-width: 800px) {
    .extras {
        flex-direction: row;
        width: 100%;
    }
}

.spacer {
    flex-grow: 2;
}

#gameCanvas {
    border: 3px solid white;
    max-width: 100%;
    max-height: 90%;

    display: block;
    align-self: flex-start;
}

h1 {
    color: white;
}

button {
    background: gray;
    border: none;
    border-radius: 10%;
    margin: 5px 0;

    color: white;
    font-size: 20px !important;
    font: inherit;
}

button:hover {
    background: #837590;
}
